body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cecece;
}

/* Topbar Section CSS */
.topbar {
    display: flex;
    position: sticky;
    top: 0;
    margin-left: 250px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.topbar .title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.topbar .title i {
    margin-right: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    flex: 1;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.search-box input[type="text"] {
    width: 400px;
    margin-left: 400px;
    padding: 8px 15px;
    border: 1px solid #b00;
    outline: none;
}

.search-box button {
    padding: 9px 16px;
    border: none;
    background-color: #b00;
    color: white;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #d00;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.user-profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile .user-name {
    margin-right: 10px;
}

.user-profile .dropdown-icon {
    cursor: pointer;
}

/* Sidenav CSS */
.sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    background-color: #000000;
    padding-top: 20px;
    overflow-x: hidden;
}

.logo-dashboard img {
    width: 220px;
    margin-bottom: 70px;
    margin-left: 10px;
}

.sidenav a, .dropdown-btn {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.sidenav a:hover, .dropdown-btn:hover {
    background-color: #b00;
}

.dropdown-container {
    display: none;
    background-color: #383838;
    padding-left: 20px;
}

.sidenav .active {
    background-color: #b00;
    color: white;
}

.dropdown-btn i {
    margin-right: 10px;
}

.dropdown-container a {
    font-size: 11px;
}
/* Sidenav CSS */


/* Main Content Section */
.main-content {
    margin-left: 270px;
    padding-bottom: 5px;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;;
    background-color: rgb(253, 253, 253);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-main-content {
    margin-bottom: 15px;
    background-color: #eeeeee;
}

.head-main-content {
    background-color: #eeeeee;
    border-bottom: 1px solid rgb(148, 148, 148);
    padding: 15px;
}

.head-main-content button {
    padding: 8px 12px;
    margin-left: 10px;
    color: white;
    border: none;
    background-color: #000000;
    cursor: pointer;
}
.head-main-content button:hover {
    background-color: #b00;

}

.add-prods {
    display: none;
    padding-left: 10px;
    background-color: #e6e6e6;
    margin: 15px;
    margin-top: 15px;
}


.category-details {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.category h5 {
    margin: 0;
    font-size: 10px;
    color: #000000;
}

.dropdown-selection select {
    padding: 8px 12px;
    font-size: 11px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    width: 190px;
}

.dropdown-selection input {
    padding: 8px 12px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    width: 150px;
}

.dropdown-selection select:focus {
    border-color: #b00;
}

.product-details-category {
    margin-bottom: 10px;
    margin-left: 10px;
}

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #383838;
    margin-right: 10px;
}

textarea {
    resize: vertical; /* Allows resizing only vertically */
    width: 100%; /* Ensures the textarea maintains its full width */
    box-sizing: border-box; /* Ensures padding and border don't affect the width */
}

.detail-name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}
.product-detail-name input {
    border: none;
    padding: 6px 12px;
    width: 350px;
}

/* Main Content Section */


.product-specs h5 {
    text-align: left;
    padding-right: 10px;
}

.product-specs input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.product-specs textarea {
    width: 100%;
    padding: 10px;
    height: auto; /* Adjusted padding to ensure content is near the top-left */
    border: 1px solid #ccc;
    resize: vertical; /* Keeps the resize vertical only if that's needed */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    overflow: auto; /* Ensures scrollbar appears if needed */
}

.breadcrumb-product-category {
    display: flex; /* Arrange items in a row */
    align-items: center; /* Vertically center the text */
    gap: 5px; /* Add space between the elements */
    margin-left: 50px;
}

.breadcrumb-product-category h5, 
.breadcrumb-product-category span {
    margin: 0; /* Remove default margins */
    font-size: 12px; /* Adjust font size if needed */
}

.breadcrumb-product-category span {
    padding: 0 5px;
    font-weight: 600; /* Add padding around the '>' character */
}

.upload-container {
    margin-top: 20px;
}

.upload-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

#photo-upload {
    margin-bottom: 20px;
}

.photo-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.photo-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.warning-message {
    color: red;
    font-size: 14px;
}


.product-head-title {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between first and second sections */
    gap: 100px;
    margin: 0 100px;
}

.product-title .product-title-section {
    width: 575px;
}

.product-section-one, 
.product-section-one {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between first and second sections */
    gap: 100px;
    margin: 0 100px; /* Adds margin to the left and right */
}

.product-section-first,
.product-section-second {
    flex: 1; /* Makes both sections take equal width */
}

.product-section-first div,
.product-section-second div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px; /* Adds space between each input block */
}

h5 {
    margin-bottom: 5px; /* Adds space between the label and input */
}

input[type="text"] {
    width: 100%; /* Ensures input fields take full width of their container */
    padding: 8px; /* Adds some padding inside the input fields */
    border: 1px solid #ccc; /* Basic border styling */
    box-sizing: border-box; /* Ensures padding doesn't affect input width */
}

.product-additional-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    padding-bottom: 20px; /* Add padding instead of margin */
    margin-right: 100px; /* Add padding instead of margin */
}

.product-additional-info div {
    display: flex;
    flex-direction: column;
}

.product-additional-info input {
    width: 150px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #131313;
}
